{
  "logging": true,
  "discord": {
    "token": "supersecrettoken",
    "clientId": "000",
    "guilds": [
      "000"
    ]
  },
  "stashbox": {
    "baseurl": "https://my-stash-box.example.com",
    "apikey": "secretApiKey"
  }
}
